<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>

    <link rel='stylesheet' href='/bower_components/roboto-fontface/css/roboto-fontface.css'/>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="/bower_components/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="/bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="/bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="/bower_components/angular-material/angular-material.js" type="text/javascript"></script>

    <script src="/scr/app.js" type="text/javascript"></script>
    <script src="/scr/digest/digest.js" type="text/javascript"></script>
</head>
<body ng-app="digestApp" layout="column">

<md-toolbar layout="row" id="toolbar">
    <h2 flex="nogrow">Digest calculator</h2>
    <h5 flex="auto" layout="row" layout-align="end center">
        <span>Your ID: </span>
        <span th:text="${beans.uuid.value}"></span>
    </h5>
</md-toolbar>


<md-content class="md-whiteframe-2dp" layout="column" id="content">
    <div layout="row">
        <h3 flex="nogrow">Your tasks: </h3>
        <div flex="auto" layout="row" layout-align="end center">
            <md-button class="md-raised">Button</md-button>
        </div>
    </div>
    <div>

    </div>
</md-content>
</body>
</html>