<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>

    <link rel="stylesheet" href="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css"/>
    <link rel='stylesheet' href='/bower_components/roboto-fontface/css/roboto-fontface.css'/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>

    <script src="/scr/digest/IndexController.js" type="text/javascript"></script>
    <script src="/scr/digest/JobService.js" type="text/javascript"></script>
    <script src="/scr/digest/AddJobModalController.js" type="text/javascript"></script>
    <script src="/scr/app.js" type="text/javascript"></script>
</head>
<body ng-app="jobTrackerApp">

<div class="container content" ng-controller="indexController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Current jobs:</span>
            <button class="btn btn-primary">New job</button>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Algo</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Src url</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in jobs">
                    <th>{{job.id}}</th>
                    <td>{{job.algo}}</td>
                    <td>{{job.status}}</td>
                    <td>{{job.startDate}}</td>
                    <td>{{job.endDate}}</td>
                    <td>{{job.srcUrl}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="col-md-7 col-md-offset-1">
            <div class="navbar-header">
                <span class="navbar-brand">Digest job manager</span>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <span class="navbar-brand"> Your ID: </span>
            <span class="navbar-brand" th:text="${beans.uuid.value}"></span>
        </div>
    </nav>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>